*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    width: 400px;
    height: 400px;
    background: url('./images/TB2DkXbeFLM8KJjSZFBXXXJHVXa_!!2294413907.jpg_430x430q90.jpg');
    background-size: 100% 100%;
    position: relative;
    margin:100px;
    cursor: move;
    float: left;

}
.small{
    height: 200px;
    width: 200px;
    background-color:rgba(2,3,3,.2);
    position: absolute;
    top:0;
    left:0;
}
.box1{
    display: none;
    width: 400px;
    height: 400px;
    margin:100px;
    border: 1px solid #999;
    float: left;
    background: url('./images/TB2DkXbeFLM8KJjSZFBXXXJHVXa_!!2294413907.jpg_430x430q90.jpg');
    background-size: 200% 200%;
}